.container {
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4d47d;
    height: 100vh;
}

.esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 80%;
    width: 35%;
}

.direita {
    height: 80%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: 80%;
}

.imageLunch img {
    height: 60%;
}

/* Responsividade para Laptop L */
@media (max-width: 1440px) and (min-width: 1024px) {
    .main {
        height: 100vh;
    }

    .esquerda {
        width: 50%;
    }

    .direita {
        width: 50%;
    }
}

/* Responsividade para Laptop 1024 */
@media (max-screen: 1024px) and (min-screen: 768px){
    .direita {
        width: 50%;
        height: 100%;
    }

    .esquerda {
        width: 50%;
        height: 100%;
    }

    .image {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Responsividade para Tablet */
@media (max-width: 768px) {
    .main {
        height: 100vh;
        flex-direction: column;
    }

    .esquerda {
        width: 100%;
        height: 50%;
        margin-top: 50px;
        margin-left: 0;
    }

    .direita {
        width: 100%;
        height: 50%;
    }

    .image {
        height: 100%;
    }
}